# Dictionary Object Python

In [1]:
dict1={1:"Dileep Kumar Patel",2:"Rohit Kumar singh",3:"Radhika Singh"}
dict2={4:"Mahendra singh",5:"rajendra singh",6:"Mohan bhagwat"}
dict3= {**dict1,**dict2}
dict3

{1: 'Dileep Kumar Patel',
 2: 'Rohit Kumar singh',
 3: 'Radhika Singh',
 4: 'Mahendra singh',
 5: 'rajendra singh',
 6: 'Mohan bhagwat'}

In [2]:
l = {key:val for d in [dict1,dict2] for key,val in d.items()}

In [3]:
l

{1: 'Dileep Kumar Patel',
 2: 'Rohit Kumar singh',
 3: 'Radhika Singh',
 4: 'Mahendra singh',
 5: 'rajendra singh',
 6: 'Mohan bhagwat'}

In [4]:
m={k:v for k,v in dict1.items()}

In [5]:
m

{1: 'Dileep Kumar Patel', 2: 'Rohit Kumar singh', 3: 'Radhika Singh'}

In [6]:
n={d for d in dict2.items()}

In [7]:
n

{(4, 'Mahendra singh'), (5, 'rajendra singh'), (6, 'Mohan bhagwat')}

In [8]:
data=dict(zip([1,2,3,4,5,6,7,8,9,10],["A","B","C","D","E","F","G","H","I","J"]))

In [9]:
data.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [10]:
data.values()

dict_values(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [11]:
mydata ={val:key**2 for key, val in data.items()}

In [12]:
mydata

{'A': 1,
 'B': 4,
 'C': 9,
 'D': 16,
 'E': 25,
 'F': 36,
 'G': 49,
 'H': 64,
 'I': 81,
 'J': 100}

In [13]:
 mydata

{'A': 1,
 'B': 4,
 'C': 9,
 'D': 16,
 'E': 25,
 'F': 36,
 'G': 49,
 'H': 64,
 'I': 81,
 'J': 100}

In [14]:
import pandas as pd

In [15]:
mydict={"Name":["Dileep Kumar Patel","Rahul Kumar","Mayang Kumar","Rohit Kumar","Danav Raj"],
       "DIT":[10,20,40,50,60],
        "Address":["Ranchi","Bokaro","Faridabad","Dhanbad","Hydrabad"],
        "Company":["Amazon","IBM","Oracle","Microsoft","Flipcart"]
       }

In [38]:
df =pd.DataFrame(mydict)

In [43]:
df.to_csv('Company.csv',index=False)

In [48]:
df=pd.read_csv('Company.csv')
df

                 Name  DIT    Address    Company
0  Dileep Kumar Patel   10     Ranchi     Amazon
1         Rahul Kumar   20     Bokaro        IBM
2        Mayang Kumar   40  Faridabad     Oracle
3         Rohit Kumar   50    Dhanbad  Microsoft
4           Danav Raj   60   Hydrabad   Flipcart

In [18]:
df.describe()

             DIT
count   5.000000
mean   36.000000
std    20.736441
min    10.000000
25%    20.000000
50%    40.000000
75%    50.000000
max    60.000000

In [19]:
j ={'a': [1, 2, 3, 4], 'b': ['one', 'two', 'three']}

In [20]:
j

{'a': [1, 2, 3, 4], 'b': ['one', 'two', 'three']}

In [21]:
j['a'].extend([5,6,7,8,9])

In [22]:
j

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'b': ['one', 'two', 'three']}

In [23]:
j['b'].append(['Four','Five','Six','Seven','Eight','Nine'])

In [24]:
j

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'b': ['one',
  'two',
  'three',
  ['Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']]}

In [25]:
j.keys()

dict_keys(['a', 'b'])

In [26]:
j['a']

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
j['b']

['one', 'two', 'three', ['Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']]

In [28]:
j['b'][3]

['Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']

In [29]:
print([x for x in range(100) if x%2==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [30]:
print([x for x in range(100) if x%2!=0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [34]:
print([n for n in range(2,100) if 0 not in [n%r for r in range(2,n//2+1)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [50]:
#Write a program to  sum of digit numbers
num=int(input("Enter any number :"))
add=0
while num>0:
    r=num%10
    add=add+r
    num = num//10
print("Sum of digit :",add)

Enter any number :35689545
Sum of digit : 45

In [51]:
# Write a program to print factor of input number
num = int(input("Enter any number :"))
a =[]
for i in range(1,num+1):
    if num%i==0:
        a.append(i)
print("Factors of Number :",a)

Enter any number :20
Factors of Number : [1, 2, 4, 5, 10, 20]

In [56]:
# Write a program to print reverse of input number
num= int(input("Enter any number :"))
s=0
while num>0:
    r=num%10
    s= s*10+r
    num=num//10
print("Reverse :",s)

Enter any number :56895456
Reverse : 65459865

In [58]:
# Write a program to print sum all factor of a number
num = int(input("Enter any number :"))
s=[]
for i in range(1,num+1):
    if num%i==0:
        s.append(i)
print("Factors :",s,"\nSum :",sum(s))

Enter any number :50
Factors : [1, 2, 5, 10, 25, 50]
Sum : 93

In [60]:
#Write a program to print table of input number
num = int(input("Enter any number :"))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter any number :50
50 * 1 = 50
50 * 2 = 100
50 * 3 = 150
50 * 4 = 200
50 * 5 = 250
50 * 6 = 300
50 * 7 = 350
50 * 8 = 400
50 * 9 = 450
50 * 10 = 500

In [65]:
import keyword as key

In [70]:
#Write a program to print keyword in python
a=[]
for kwd in key.kwlist:
    a.append(kwd)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [71]:
import os

In [72]:
print(os.getcwd())

C:\Users\Dileep-Pcs\OneDrive\Desktop\Python

# Program to print format

In [75]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(rows):
    for j in range(cols):
        print("#",end=" ")
    print()

Enter no of rows :5
Enter no of cols :5
# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [76]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(rows):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter no of rows :10
Enter no of cols :20
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [3]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter no of rows :5
Enter no of cols :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter no of rows :8
Enter no of cols :8
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [11]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(rows,0,-1):
    for j in range(i,0,-1):
        print(i,end=" ")
    print()

Enter no of rows :5
Enter no of cols :5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [12]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(rows,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter no of rows :5
Enter no of cols :5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [70]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(rows,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

Enter no of rows :5
Enter no of cols :5
* * * * *
* * * *
* * *
* *
*

In [13]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
count=1
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(count,end=" ")
        count+=1
    print()

Enter no of rows :5
Enter no of cols :5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [18]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(1,rows+1):
    for k in range(rows-i+1,0,-1):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    for k in range(1,i+1-1):
        print(k,end="")
    print()

Enter no of rows :5
Enter no of cols :5
     1
    121
   12312
  1234123
 123451234

In [19]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(1,rows+1):
    for k in range(rows-i+1,0,-1):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end="")
    for k in range(1,i+1-1):
        print("*",end="")
    print()

Enter no of rows :10
Enter no of cols :10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

In [55]:
rows= int(input("Enter no of rows :"))
cols= int(input("Enter no of cols :"))
for i in range(1,rows+1):
    for k in range(rows-i+1,0,-1):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end="")
    print()
for i in range(1,rows+1):
    for m in range(i+1,0,-1):
        print(" ",end="")
    for n in range(rows-i,0,-1):
        print("*",end="")
    print()

Enter no of rows :10
Enter no of cols :10
          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [46]:
# Write a program to print format
r=int(input("enter no of rows :"))
c=int(input("enter no of cols :"))
for i in range(r,0,-1):
    for k in range(r-i,0,-1):
        print(end=" ")
    for j in range(1,i+1):
        print("*",end="")
    for m in range(1,i):
        print("*",end="")
    print()

enter no of rows :10
enter no of cols :10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [45]:
#Write a program to print fibanocci sequence like 0 1 1 2 3 5 8 13 21 34 55 98.........n
n = int(input("Enter term of number :"))
t1,t2,count=0,1,0
print("Fibanocci Sequences :")
for i in range(n):
    print(t1,end=" ")
    count=t1+t2
    t1=t2
    t2=count

Enter term of number :20
Fibanocci Sequences :
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [25]:
#Write a program to print factorial of entered numbers
n = int(input("Enter any number :"))
fact=1
for i in range(1,n+1):
    fact= fact*i
print(fact," is Factorial of ",n)

Enter any number :4
24  is Factorial of  4

In [33]:
#Write a program print matrix
rows = int(input("Enter no of rows :"))
cols = int(input("Enter no of cols :"))
matrix=[]
for i in range(rows):
    data=[]
    for j in range(cols):
        x= int(input("Enter "+str(i+1)+" row "+str(j+1)+" Element :"))
        data.append(x)
    matrix.append(data)
print("Entered Matrix elements :")
print(matrix)

Enter no of rows :3
Enter no of cols :4
Enter 1 row 1 Element :4
Enter 1 row 2 Element :5
Enter 1 row 3 Element :6
Enter 1 row 4 Element :8
Enter 2 row 1 Element :5
Enter 2 row 2 Element :9
Enter 2 row 3 Element :6
Enter 2 row 4 Element :1
Enter 3 row 1 Element :2
Enter 3 row 2 Element :3
Enter 3 row 3 Element :4
Enter 3 row 4 Element :5
Entered Matrix elements :
[[4, 5, 6, 8], [5, 9, 6, 1], [2, 3, 4, 5]]

In [56]:
# Write a program to display element of matrix
rows = int(input("Enter no of rows :"))
cols = int(input("Enter no of cols :"))
matrix=[]
for i in range(rows):
    data=[]
    for j in range(cols):
        x= int(input("Enter "+str(i+1)+" row "+str(j+1)+" Element :"))
        data.append(x)
    matrix.append(data)
print("Entered Matrix elements :")
for i in range(rows):
    for j in range(cols):
        print(matrix[i][j],end=" ")
    print()
# Write a program to print transpose of matrix
print("Entered Matrix Transpose :")
for i in range(cols):
    for j in range(rows):
        print(matrix[j][i],end=" ")
    print()
#Sum to matrix all elements :
add=0
for i in range(rows):
    for j in range(cols):
        add = add + matrix[i][j]
print("Sum of  Matrix :",add)

Enter no of rows :2
Enter no of cols :1
Enter 1 row 1 Element :5
Enter 2 row 1 Element :7
Entered Matrix elements :
5
7
Entered Matrix Transpose :
5 7
Sum of  Matrix : 12